
.vscode/launch.json
JavaScript/Condições/arquivos/sarah_and_joe.jpg
JavaScript/Condições/arquivos/5fab10ebefc38366ccaf7409b0d994c0.jpg
JavaScript/Condições/arquivos/889b390f6d696127f7b7f176c3e05bd6.jpg
JavaScript/Condições/arquivos/ded0a477f217951cfd5adb6e467290f5.jpg
